@model ConsumoAPI.Models.Photo
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Photo</h2>

Id: @Model.Id
<br />
AlbumId: @Model.AlbumId
<br />
Title: @Model.Title
<br />
Url: @Model.Url
<br />
ThumbnailUrl: @Model.ThumbnailUrl

